<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>LinkUp - Multipurpose HTML Template</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="css/ie-fix.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/superfish.css" />
<link rel="stylesheet" type="text/css" href="css/colorbox.css" />
<link rel="stylesheet" type="text/css" href="css/kwicks-accordian.css" />
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Oswald' />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/superfish.js"></script>
<script type="text/javascript" src="js/jquery.kwicks-1.5.1.pack.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.tweet.js"></script>
<script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="js/jflickrfeed.min.js"></script>
<script type="text/javascript" src="js/jquery.carouFredSel-5.5.0-packed.js"></script>
<script type="text/javascript" src="js/scrolltopcontrol.js"></script>

<script type="text/javascript" src="js/custom.js"></script><!-- Custom scripts -->
<script type="text/javascript" src="js/custom-main.js"></script><!-- Only for home page -->

<script type="text/javascript">
/***************************************************
			Accordion Slider
***************************************************/
jQuery.noConflict()(function($){
	$(document).ready(function() {
		$('#linkup-accordion .kwicks').kwicks({
				max: 800,
				sticky : true,				
				spacing:  0
		});
	});
});
</script>

</head>

<body>

<!-- START MENU SECTION -->
<div id="top-line"></div>
<div id="menu-bar">
	<div class="center-block clearfix">
    	<!-- start menu -->
		<div id="menu" class="fix-fish-menu">
			<div class="white-fix-left"></div>
			<ul id="nav" class="sf-menu">
				<li><a href="index-2.html">Home</a></li>
			 		<li class=""> <a href="#" class="active">Features</a>
					<ul>
						<li><a href="index-camera.html">Camera Slider</a></li>
						<li><a href="index-elastic.html">Elastic Slider</a></li>
						<li><a href="index-slidorion.html">Slidorion Slider</a></li>
						<li><a href="index-accordion.html">Accordion Slider</a></li>
						<li><a href="index-static-image.html">Static Image</a></li>
						<li><a href="index-video.html">Video Style</a></li>
					</ul>
			    </li>
		 		<li class=""> <a href="#">Typography</a>
					<ul>
						<li><a href="typography-headings.html">Headings</a></li>
						<li><a href="typography-dropcaps.html">Drop Caps</a></li>
							<li><a href="typography-highlights.html">Highlights</a></li>
							<li><a href="typography-layouts.html">Layouts</a></li>
							<li><a href="typography-lists.html">Lists Style</a></li>
							<li><a href="typography-images.html">Float Images</a></li>
							<li><a href="typography-buttons.html">Buttons</a></li>
							<li><a href="typography-tabs-tables.html">Tabs, Tables, Quotes</a></li>
						</ul>
				    </li>
			 	<li class=""> <a href="#">Pages</a>
					<ul>
						<li><a href="left-content.html">Left + Content</a></li>
						<li><a href="content-right.html">Content + Right</a></li>
						<li><a href="full-width.html">Full Width Page</a></li>
					</ul>
				</li>
		 		<li class=""> <a href="#">Portfolio</a>
					<ul>
						<li><a href="portfolio-1.html">Sortable + 4 Columns</a></li>
						<li><a href="portfolio-4.html">Sortable + 3 Columns</a></li>
						<li><a href="portfolio-2.html">Standard + 4 Columns</a></li>
						<li><a href="portfolio-3.html">Standard + 3 Columns</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="#">Project Item 1</a></li>
						<li><a href="#">Project Item 2</a></li>
					</ul>
			    </li>
                <li class=""><a href="#">Blog</a>
	   				<ul>
						<li><a href="blog-style1.html">Blog Style 1</a></li>
						<li><a href="blog-style2.html">Blog Style 2</a></li>
						<li><a href="blog-post.html">Blog Post</a></li>
					</ul>
	            </li>
 				<li><a href="contacts.html">Contact Us</a></li>
		 	</ul>  <!-- end #nav  -->
	 	</div>	<!-- end #menu  -->	
	</div><!-- end .center-block  -->	
</div><!-- end #menu-bar -->
<!-- END MENU SECTION -->


<!-- START LOGO SECTION -->
<div id="logo-bar">
	<div class="center-block clearfix">
		<div class="logo"><img src="images/logo.png" alt="Logo" /></div>
		<div class="ads"><a href="http://www.cssmoban.com/?books/freelance-confidential"><img src="images/468x60.png" title="Advertisement" alt="Ads" /></a></div>
	</div><!-- .center-block -->
</div><!-- #logo-bar -->
<!-- END LOGO SECTION -->


<!-- START SLIDER -->
<div id="slider-wrapper">
	<!-- START CTA BLOCK -->
	<div id="cta-block">
		<div class="center-block">
			<div class="slogan">
				<h3 class="darkgray">We are a <a href="#" class="firebrick">Digital Creative Problem Solver</a></h3>
				<h5 class="darkgray">with a strong focus on usability and value creation</h5>
			</div>
		</div>
	</div>
	<!-- END CTA BLOCK -->
	
		<div id="linkup-accordion">
			<ul class="kwicks">
				<li id="kwick1">
					<img src="images/sliders/ei-slider/slide02.jpg" alt="Slide1" />
					<p class="accordion-slider-caption">
						<span class="accordion-slider-captiontitle">Webster</span>
						<span>Webster Premium HTML Template. Simple, clean and beauty template. Webster is based on a rock-solid HTML /CSS3 foundation and enhanced with cool CSS3 features.</span>
                        <span class="desc">description</span>
					</p>
				</li>
				<li id="kwick2">
					<img src="images/sliders/ei-slider/slide03.jpg" alt="Slide2" />
					<p class="accordion-slider-caption">
                   	   	<span class="accordion-slider-captiontitle">Soul</span>
						<span>Premium WordPress Theme. Flexible and beautiful WordPress Theme which could be suitable for almost all kinds of business. This theme is compatible with WordPress 3.3</span>
					</p>
				</li>
				<li id="kwick3">
					<img src="images/sliders/ei-slider/slide07.jpg" alt="Slide3" />
					<p class="accordion-slider-caption">
						<span class="accordion-slider-captiontitle">Francis</span>
						<span>HTML5 /CSS3 Template with Blog and Portfolio Simple, clean and beauty theme for personal, photographers, blog and portfolio. Francis is based on a rock-solid HTML5 /CSS3 foundation.</span>
					</p>
				</li>
				<li id="kwick4">
                   <img src="images/sliders/ei-slider/slide04.jpg" alt="Slide4" />
					<p class="accordion-slider-caption">
						<span class="accordion-slider-captiontitle">Ocean</span>
						<span>Ocean is a WordPress Theme suitable for personal, photographers, blog and portfolios. It comes with six background color schemes and some background texture.</span>
					</p>
				</li>
			</ul><!-- .kwicks -->
			<div class="clear"></div>			
		</div><!-- #linkup-accordion -->
		<div class="clear"></div>
</div><!-- end slider-wrapper -->
<!-- END SLIDER -->


<!-- START WRAPPER SECTION -->
<div id="wrapper-home">

	<!-- START ABOUT BLOCK -->
	<div id="about-main">
		<div class="center-block clearfix">
			<div class="about-us">
				<h4>About Us</h4>
				<p>Pellentesque nibh nunc, pulvinar in ultrices at, ornare non ante. Quisque dolor nibh, fermentum at cursus sed, suscipit id massa.</p>
				<div class="about-img">
					<div class="about-bg-white">
						<img src="images/blog/recent/5.jpg" alt="" />
					</div><!-- .about-bg-white -->
				</div><!-- .about-img -->
				<p class="small-italic">Proin tincidunt ipsum sed quam convallis rhoncus.
				<br/><br/>Suspendisse at libero eu magna pharetra tincidunt vel vel dui. Nunc leo nibh, suscipit vel venenatis vel, fermentum at cursus sed, suscipit id massa dapibus vitae neque.</p>
				<div class="go-to readmore no-margin-bottom"> 
					<a href="#">Read more</a>
					<span></span>
				</div><!-- .go-to -->
			</div><!-- .about-us -->
			<div class="our-services">
				<h4>Our specializations</h4>
				<p>Vestibulum fringilla lacus vehicula massa malesuada venenatis. Quisque urna lorem, malesuada ac vehicula at, tristique sed enim.</p>
				<div class="one_half">
					<img class="servise_icon" src="images/icons/s1.png" alt="" />
					<h6><a href="#">Social media marketing</a></h6>
					<p class="small-italic">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
				</div>
				<div class="one_half column-last">
					<img class="servise_icon" src="images/icons/s3.png" alt="" />
					<h6><a href="#">Commercial photoraphy</a></h6>
					<p class="small-italic">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
				</div>
				<div class="one_half">
					<img class="servise_icon" src="images/icons/s2.png" alt="" />
					<h6><a href="#">WordPress Themes</a></h6>
					<p class="small-italic">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
				</div>
				<div class="one_half column-last">
					<img class="servise_icon" src="images/icons/s4.png" alt="" />
					<h6><a href="#">Information architecture</a></h6>
					<p class="small-italic">Dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait.</p>
				</div>
			</div><!-- .our-services -->
		</div><!-- .center-block -->
	</div><!-- #about-us -->
	<!-- END ABOUT BLOCK -->

	<div class="divider-2px"></div>
	
	<!-- START RECENT PROJECTS -->
	<div id="recent-projects">
		<div class="center-block">

			<!-- start recent project block -->		
			<div class="rp-block-main">
				<h4>Recent Projects</h4>
				<p>Here are just some of the recent 
					projects we’ve been involved in. 
					Explore our other projects to discover 
					more about our recent innovations 
					and achievements.
				</p>
<!--				<div class="go-to">
					<a href="portfolio-1.html">View the Portfolio</a>
					<span></span>
				</div> -->

			<!-- CarouFredSel - Recent Projects -->
			<div class="projects_carousel">
			    <div id="rp-carousel">
					<!-- start recent project block -->
					<div class="rp-block rp-bg">
						<div class="rp-bg-white">
							<img src="images/projects/recent/1.jpg" alt="" />
							<div class="mask">
								<a href="images/projects/recent/1-big.jpg" class="view-icon" data-rel="zoom-img"></a>
								<a href="portfolio-1.html" class="link-icon"></a>
							</div><!-- .mask -->
							<div class="rp-arrow-up"></div>
							<div class="rp-content">
								<h6><a href="portfolio-1.html">Freelance</a></h6>
								<p>Who Whole Trust on Successful.</p>
							</div><!-- .rp-content -->
						</div><!-- .rp-bg-white -->
					</div><!-- .rp-block -->
		
					<!-- start recent project block -->
					<div class="rp-block rp-bg">
						<div class="rp-bg-white">
							<img src="images/projects/recent/2.jpg" alt="" />
							<div class="mask">
								<a href="images/projects/recent/2-big.jpg" class="view-icon" data-rel="zoom-img"></a>
								<a href="portfolio-1.html" class="link-icon"></a>
							</div><!-- .mask -->					
							<div class="rp-arrow-up"></div>
							<div class="rp-content">
								<h6><a href="portfolio-1.html">LinkedIn and Lovin It</a></h6>
								<p>Learn to leverage the professionals.</p>
							</div><!-- .rp-content -->
						</div><!-- .rp-bg-white -->
					</div><!-- .rp-block -->
	
					<!-- start recent project block -->
					<div class="rp-block rp-bg">
						<div class="rp-bg-white">
							<img src="images/projects/recent/3.jpg" alt="" />
							<div class="mask">
								<a href="images/projects/recent/3-big.jpg" class="view-icon" data-rel="zoom-img"></a>
								<a href="portfolio-1.html" class="link-icon"></a>
							</div><!-- .mask -->					
							<div class="rp-arrow-up"></div>
							<div class="rp-content">
								<h6><a href="portfolio-1.html">Facebook Marketing</a></h6>
								<p>Get funs, build your brand, get results!</p>
							</div><!-- .rp-content -->
						</div><!-- .rp-bg-white -->
					</div><!-- .rp-block -->
	
					<!-- start recent project block -->
					<div class="rp-block rp-bg">
						<div class="rp-bg-white">
							<img src="images/projects/recent/4.jpg" alt="" />
							<div class="mask">
								<a href="images/projects/recent/4-big.jpg" class="view-icon" data-rel="zoom-img"></a>
								<a href="portfolio-1.html" class="link-icon"></a>
							</div><!-- .mask -->					
							<div class="rp-arrow-up"></div>
							<div class="rp-content">
								<h6><a href="portfolio-1.html">Getting Good with JavaScript</a></h6>
								<p>Ever wanted to liven up a web design.</p>
							</div><!-- .rp-content -->
						</div><!-- .rp-bg-white -->
					</div><!-- .rp-block -->
	
					<!-- start recent project block -->
					<div class="rp-block rp-bg">
						<div class="rp-bg-white">
							<img src="images/projects/recent/5.jpg" alt="" />
							<div class="mask">
								<a href="images/projects/recent/5-big.jpg" class="view-icon" data-rel="zoom-img"></a>
								<a href="portfolio-1.html" class="link-icon"></a>
							</div><!-- .mask -->					
							<div class="rp-arrow-up"></div>
							<div class="rp-content">
								<h6><a href="portfolio-1.html">Rockstar WordPress Designer 2</a></h6>
								<p>Want to take your WordPress theme?</p>
							</div><!-- .rp-content -->
						</div><!-- .rp-bg-white -->
					</div><!-- .rp-block -->
	
					<!-- start recent project block -->
					<div class="rp-block rp-bg">
						<div class="rp-bg-white">
							<img src="images/projects/recent/6.jpg" alt="" />
							<div class="mask">
								<a href="images/projects/recent/6-big.jpg" class="view-icon" data-rel="zoom-img"></a>
								<a href="portfolio-1.html" class="link-icon"></a>
							</div><!-- .mask -->
							<div class="rp-arrow-up"></div>
							<div class="rp-content">
								<h6><a href="portfolio-1.html">Web Design Confidential</a></h6>
								<p>Get insight into the industry through...</p>
							</div><!-- .rp-content -->
						</div><!-- .rp-bg-white -->
					</div><!-- .rp-block -->
	
					<!-- start recent project block -->
					<div class="rp-block rp-bg">
						<div class="rp-bg-white">
							<img src="images/projects/recent/7.jpg" alt="" />
							<div class="mask">
								<a href="images/projects/recent/7-big.jpg" class="view-icon" data-rel="zoom-img"></a>
								<a href="portfolio-1.html" class="link-icon"></a>
							</div><!-- .mask -->
							<div class="rp-arrow-up"></div>
							<div class="rp-content">
								<h6><a href="portfolio-1.html">How to Record Great Music</a></h6>
								<p>Sound engineer and musician Björgvin.</p>
							</div><!-- .rp-content -->
						</div><!-- .rp-bg-white -->
					</div><!-- .rp-block -->

			    </div><!-- #rp-carousel -->
			    <div class="clearfix"></div>
			    <a class="prev" id="rp-carousel_prev" href="#"><span>prev</span></a>
			    <a class="next" id="rp-carousel_next" href="#"><span>next</span></a>
			</div><!-- .projects_carousel -->
			<div class="clear"></div>	

			</div><!-- .rp-block-main -->
			
			
			
			<!-- start recent articles block -->
			<div class="ra-block-main">
				<h4>Recent Articles</h4>
				<p>This block displays your latest articles, 
					the visibility, title and description are 
					all controlled easily via the homepage 
					tab in the admin options panel.
				</p>
<!--				<div class="go-to ra">
					<a href="blog-style1.html">Read the Blog</a>
					<span></span>
				</div> -->

			<!-- CarouFredSel - Recent Articles -->
			<div class="articles_carousel">
			    <div id="ra-carousel">
					<!-- start recent articles block -->
					<div class="ra-block ra-bg">
						<div class="ra-bg-white">
							<img src="images/blog/recent/1.jpg" alt="" />
							<div class="mask">
								<!-- <a href="images/projects/recent/6-big.jpg" class="view-icon" data-rel="zoom-img"></a> -->
								<a href="blog-post.html" class="link-icon"></a>
							</div><!-- .mask -->
							<div class="ra-arrow-up"></div>
							<div class="ra-content">
								<h6><a href="blog-post.html">Blog Business</a></h6>
								<p>The essential handbook to creating...</p>
							</div><!-- .ra-content -->
						</div><!-- .ra-bg-white -->
					</div><!-- .ra-block -->
	
					<!-- start recent articles block -->
					<div class="ra-block ra-bg">
						<div class="ra-bg-white">
							<img src="images/blog/recent/2.jpg" alt="" />
							<div class="mask">
								<!-- <a href="images/projects/recent/6-big.jpg" class="view-icon" data-rel="zoom-img"></a> -->
								<a href="blog-post.html" class="link-icon"></a>
							</div><!-- .mask -->							
							<div class="ra-arrow-up"></div>
							<div class="ra-content">
								<h6><a href="blog-post.html">Getting Good with Git</a></h6>
								<p>This book will take you from knowing...</p>
							</div><!-- .ra-content -->
						</div><!-- .ra-bg-white -->
					</div><!-- .ra-block -->
	
					<!-- start recent articles block -->
					<div class="ra-block ra-bg">
						<div class="ra-bg-white">
							<img src="images/blog/recent/3.jpg" alt="" />
							<div class="mask">
								<!-- <a href="images/projects/recent/6-big.jpg" class="view-icon" data-rel="zoom-img"></a> -->
								<a href="blog-post.html" class="link-icon"></a>
							</div><!-- .mask -->							
							<div class="ra-arrow-up"></div>
							<div class="ra-content">
								<h6><a href="blog-post.html">Freelance Statistics Report</a></h6>
								<p>There are millions of freelancers...</p>
							</div><!-- .ra-content -->
						</div><!-- .ra-bg-white -->
					</div><!-- .ra-block -->
	
					<!-- start recent articles block -->
					<div class="ra-block ra-bg">
						<div class="ra-bg-white">
							<img src="images/blog/recent/4.jpg" alt="" />
							<div class="mask">
								<!-- <a href="images/projects/recent/6-big.jpg" class="view-icon" data-rel="zoom-img"></a> -->
								<a href="blog-post.html" class="link-icon"></a>
							</div><!-- .mask -->							
							<div class="ra-arrow-up"></div>
							<div class="ra-content">
								<h6><a href="blog-post.html">PSD Tuts</a></h6>
								<p>Psdtuts+ is a blog/Photoshop site made.</p>
							</div><!-- .ra-content -->
						</div><!-- .ra-bg-white -->
					</div><!-- .ra-block -->
		
					<!-- start recent articles block -->
					<div class="ra-block ra-bg">
						<div class="ra-bg-white">
							<img src="images/blog/recent/5.jpg" alt="" />
							<div class="mask">
								<!-- <a href="images/projects/recent/6-big.jpg" class="view-icon" data-rel="zoom-img"></a> -->
								<a href="blog-post.html" class="link-icon"></a>
							</div><!-- .mask -->							
							<div class="ra-arrow-up"></div>
							<div class="ra-content">
								<h6><a href="blog-post.html">Freelance Switch</a></h6>
								<p>FreelanceSwitch is a community...</p>
							</div><!-- .ra-content -->
						</div><!-- .ra-bg-white -->
					</div><!-- .ra-block -->

			    </div><!-- #ra-carousel -->
			    <div class="clearfix"></div>
			    <a class="prev" id="ra-carousel_prev" href="#"><span>prev</span></a>
			    <a class="next" id="ra-carousel_next" href="#"><span>next</span></a>
			</div><!-- .articles_carousel -->
			<div class="clear"></div>	

			</div><!-- .ra-block-main -->
		<div class="clear"></div>			
			
		</div><!-- .center-block -->
		<div class="clear"></div>
	</div><!-- #recent-projects -->
	<!-- END RECENT PROJECTS -->

	<div class="divider-2px"></div>

	<!-- START CLIENTS -->
	<div id="clients" class="center-block">	
		<div class="cl-block">
			<h4>What people says</h4>
			<!-- CarouFredSel -->

			<div class="testmain_carousel">
				<ul id="testmain_carousel">
			        <li>...A rock-solid primer on how to tap into the power of Facebook for your business. 
			        This book reveals new and creative ways to build your tribe.<span>&mdash; Jonathan Fields</span></li>

			        <li>Freelance Confidential is a goldmine of information for freelancers in any industry.Based on the global 
			        statistics gathered from the Freelance Switch.<span>&mdash; Lea Woodward</span></li>

			        <li>I have one word for this book: thorough. I have never come across such a comprehensive review of 
			        ALL the aspects that go into building a real blog<span>&mdash; Yaro Starak</span></li>

			        <li>Nuts and bolts explanations in plain English and clear screenshots walk you through everything you need 
			        to know. A must-have for Facebook.<span>&mdash; Michael Martine</span></li>

			        <li>This wonderful e-book provides a clear view into the state of freelancing around the globe. 
			        It's filled with tips and insights from actual working freelancers on everything from promoting 
			        your services.<span>&mdash; Ed Gandia</span></li>
		        </ul>
		        <div class="test-arrow-up"></div>
		    	<div class="clearfix"></div>
			</div><!-- .test_carousel -->
			<div class="clear"></div>			
		</div><!-- .cl-block -->

		<!-- CarouFredSel -->
		<div class="image_carousel">
		    <div id="cl-carousel">
		        <a href="http://envato.com/"><img src="images/clients/envato.png" alt="envato"  /></a>
		        <a href="http://www.cssmoban.com/?"><img src="images/clients/rockablepress.png" alt="rockablepress" ></a>
		        <a href="http://creattica.com/logos/red-fox-validation/668"><img src="images/clients/redfox.png" alt="Red Fox Validation" ></a>
		        <a href="http://photodune.net/?ref=zerge"><img src="images/clients/photodune.png" alt="photodune" /></a>
		        <a href="http://themeforest.net/?ref=zerge"><img src="images/clients/themeforest.png" alt="themeforest" /></a>
		        <a href="#"><img src="images/clients/pinup.png" alt="pinup" /></a>
		        <a href="http://themeforest.net/item/metric-premium-wordpress-theme/1865719?ref=zerge"><img src="images/clients/metric.png" alt="metric" /></a>
		        <a href="#"><img src="images/clients/audiojungle.png" alt="audiojungle" /></a>
		        <a href="#"><img src="images/clients/tutorials.png" alt="tutorials" /></a>
		    </div><!-- #foo3 -->
		    <div class="clearfix"></div>
		    <a class="prev" id="cl-carousel_prev" href="#"><span>prev</span></a>
		    <a class="next" id="cl-carousel_next" href="#"><span>next</span></a>
		    
		</div><!-- .image_carousel -->
		<div class="clear"></div>	
	</div><!-- #clients -->
	<!-- END CLIENTS -->

</div><!-- #wrapper -->
<div class="clear"></div>
<!-- END WRAPPER -->	    


<!-- START FOOTER -->
<div class="divider-100-2px"></div>
<div id="footer">
	<div class="center-block">
		<div class="widget">
			<h6>Contact Info</h6>
			<p>Pinup is an American multinational compane that designs 
			and markets consumer electronics, computer software, and personal computers.
			</p>
			<div>
				<span class="location">12345 / Some Street<br>New York, USA</span>
				<span class="phone">phone: +1 (44)  123-45-67</span>
				<span class="email"><a href="mailto:support@color-theme.com">support@color-theme.com</a></span>
			</div>			
		</div><!-- .widget -->
		
		<div class="widget">
			<h6>Twitter Feed</h6>
			<div class="tweet"></div>
		</div><!-- .widget -->
		
		<div class="widget">
			<h6>Flickr Photos</h6>
			<ul id="cbox" class="thumbs"></ul>
		</div><!-- .widget -->
		
		<div class="widget">
			<img src="images/logo-mini.png" alt="Logo Mini" class="logo" />
			<p>We are a group of designers combining our skills to create traditional 
			and new creative websites for your communicational issues.</p>
			<ul id="footer-social">
    			<li class="twitter"><a href="http://twitter.com/"></a></li>
    			<li class="dribbble"><a href="http://dribbble.com/"></a></li>
    			<li class="facebook"><a href="http://facebook.com/"></a></li>
    			<li class="google"><a href="http://plus.google.com/"></a></li>
    			<li class="linkedin"><a href="http://linkedin.com/"></a></li>
    			<li class="behance"><a href="http://behance.net/"></a></li>
    			<li class="rss"><a href="#"></a></li>
    		</ul>		
		</div><!-- .widget -->

		<div class="clear"></div>
	</div><!-- .center-block -->
    <div class="clear"></div>
</div><!-- #footer -->
<!-- END FOOTER -->


<!-- START FOOTER MENU  -->
<div id="footer-menu">
	<div class="center-block">
		<ul id="second-menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">Features</a></li>
			<li><a href="#">Typography</a></li>
			<li><a href="#">Pages</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Blog</a></li>
		</ul>
		<div class="copyright">&copy; Copyright &copy; 2013.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></div>
		<div class="clear"></div>
	</div><!-- .center-block -->
	<div class="clear"></div>	
</div><!-- #footer-menu -->
<!-- END FOOTER MENU  -->

</body>
</html>